<div class="clear-navbar no-space-top" fxLayout="column" fxLayoutAlign="center stretch">
  <h1>Create a grocery list</h1>
  <div fxLayout="row" fxLayoutAlign="start space-around">
    <form (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <input matInput
               placeholder="Name of the grocery list"
               [formControl]="groceryListFormControl"
               [(ngModel)]="groceryListModel.name">
        <mat-error *ngIf="groceryListFormControl.hasError('required')">
          A name for the new grocery list is required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button
              color="primary"
              [disabled]="!groceryListFormControl.valid"
              type="submit">Create list</button>

    </form>
